<div class="content-wrapper">
    <div class="row">
      <div class="card">
          <div class="card-header">
            <div class="row">
                <div class="col-12">
                    <h1>Document Ledger</h1>
                </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
                <div class="col-3">
                    <div class="card">
                        <img src="assets/one.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h2>Workspaces</h2>
                        </div>
                      </div>
                </div>
                <div class="col-3">
                    <div class="card">
                        <img src="assets/documents.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h2>Documents</h2>
                        </div>
                      </div>
                </div>
                <div class="col-3">
                    <div class="card">
                        <img src="assets/sharing.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h2>Sharing</h2>
                        </div>
                      </div>
                </div>
                <div class="col-3">
                    <div class="card">
                        <img src="assets/workgroup.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h2>Workgroup</h2>
                        </div>
                      </div>
                </div>
                <div class="col-3">
                    <div class="card">
                        <img src="assets/upload.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h2>Upload</h2>
                        </div>
                      </div>
                </div>                
                <div class="col-3">
                    <div class="card">
                        <img src="assets/validate.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h2>Validate</h2>
                        </div>
                      </div>
                </div>
                <div class="col-3">
                    <div class="card">
                        <img src="assets/invite.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h2>Invite</h2>
                        </div>
                      </div>
                </div>    
                <div class="col-3">
                    <div class="card">
                        <img src="assets/settings.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h2>Settings</h2>
                        </div>
                      </div>
                </div>                
            </div>
          </div>  
        </div>
    </div>
</div>
